.t-a-c{
    text-align: center;
}
.form-container{
    max-width: 50%;
    margin: 30px auto;
}
.input-form{
    margin: 30px;
    width: 48%;
}
.p-10{
    padding: 10px;
}
.p-c{
   color: #512c83;
}
.m-t-20{
    margin-top: 20px;
}
.p-20-0{
    padding: 20px 0px;
}
.l-icon{
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
  }