
        <div class="p-20-0">
            <mat-icon class="c-p l-icon" (click)="logout()" color="primary">logout</mat-icon>
            <h3 class="t-a-c p-c">Create/Update Product</h3>
            <div class="form-container">
                <mat-form-field class="col-md-6 p-10">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Title" [(ngModel)]="formData.title" required>
                </mat-form-field>
                <mat-form-field class="col-md-6 p-10">
                    <mat-label>Price</mat-label>
                    <input matInput placeholder="Price" [(ngModel)]="formData.price" required>
                </mat-form-field>
                <mat-form-field  class="col-md-6 p-10">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Description" [(ngModel)]="formData.description" required>
                </mat-form-field>
                <!-- Adding image url due to api only accept url of image -->
                <mat-form-field  class="col-md-6 p-10">
                    <mat-label>Image URl</mat-label>
                    <input matInput placeholder="Image URl" [(ngModel)]="formData.image" required>
                </mat-form-field>
                <mat-form-field class="col-md-6 p-10">
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="formData.category">
                      <mat-option *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
                    </mat-select>
                </mat-form-field>
                  <div class="col-md-12 t-a-c">
                    <button mat-raised-button color="primary" *ngIf="currentId == 0" (click)="saveProduct()">Create</button>
                    <button mat-raised-button color="primary"  *ngIf="currentId != 0" (click)="updateProduct()">Update</button>
                  </div>
            </div>
        </div>
        